@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);



.sandbox-correct-pronounciation {
  padding: 10em 0 10em 0;
  margin: 0;
  background-image:url('img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-correct-pronounciation {

  margin: auto;
  text-align: center;
  position: relative;
}

.scroll {
  padding: 10em 0 10em 0;
  margin: 0;
  background-color: #1d1e22;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-head {
  margin: auto;
  text-align: center;
  position: relative;
}

h1 {
  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

span {
  padding: 5px;
  border: 2px solid #ba1f1a;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.5);
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
	opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
  }

}

.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}

html {
  font-size: 16px;
}

body {
  font: 100% / 1.414 sans-serif;
}

form {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;

  & + & {
    margin-top: 24px;
  }
}

label {
  margin-bottom: 8px;
  display: block;
  color: #2b2e4a;
}

input:not([type=checkbox]):not([type=radio]),
select,
textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bdc3c7;
  border-left: 0;
  transition: border-bottom-color .15s ease-in;

  &:focus {
    outline: 0;
    border-bottom-color: #3fc1c9;
  }
}

input[type=checkbox],
input[type=radio] {
  margin-right: 8px;
}

textarea {
  resize: vertical;
}

button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3fc1c9;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .15s ease-in;

  &:focus:active {
    background-color: darken(#3fc1c9, 8%);
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: lighten(#3fc1c9, 15%);
  }
}

#tudo { margin:0 auto; width:790px;}

#tudo h1 { color: #E91E63; text-align:center; }

a { color:#34a7ff}
#tudo p { text-align:center; font-family: "Roboto", sans-serif; color: #888;}

#lado { float:left; margin:20px; }

.black { cursor: pointer; border: 0; background-color: #343436; padding: calc(0.9rem - 1px) 1.4rem; border-bottom: 3px solid #1d1d1d; text-decoration: none; border-radius: 2px; color: #fff; text-align: center;  font-family: 'Alegreya Sans', sans-serif; font-size: 15px;}
.black:hover{ opacity:0.7;}
