.menu-item-container {
    align-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 50px;
}

.menu-item {
    background-color: #4CAF50;
    border: solid 1px #4CAF50;
    border-radius: 2px;
    color: white;
    display: flex;
    flex-flow: row;
    margin: 0 auto 20px;
    padding: 10px;
    width: 50%;

    -webkit-box-shadow: 6px 6px 6px 1px rgba(114,114,114,0.44); 
    box-shadow: 6px 6px 6px 1px rgba(114,114,114,0.44);
}

.menu-item__image {
    width: 100px;
    height: 100px;
}

.menu-item__name {
    
}

.menu-item__restaurant {
    
}

.menu-item__calories {
    
}

.menu-item__tags {
    
}

.menu-item__tag {
    
}